body {
    margin: 40px;
    justify-content: center;
    text-align: center;
}

header {
    text-align: center;
    font-size: 1.8rem;
}

.rules {
    text-align: left;
    margin: 15px auto;
    max-width: 400px;
}

.rules th {
    height: 10px;
    vertical-align: top;
}

.btn {
    margin: 10px;
}

.quiz-grid {
    margin: 0 15%;
    display: grid;
    gap: 10px;
    grid-template-areas: 
        'question question'
        'answer-g answer-g'
        'answer-g answer-g'
        'answer next';
    background-color: #fff;
    color: #444;
    align-items: flex-start;
}

#question {
    grid-area: question;
    text-align: center;
}

.box {
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.box:hover {
    filter: brightness(120%);
    cursor: pointer;
}

/* .box.clicked {
    border: 1px solid black;
    background-color: white;
} */

.answer-grid {
    grid-area: answer-g;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    'a1 a2'
    'a3 a4';
}

.a1 {
    grid-area: a1;
    background-color: rgb(26, 211, 149);
}
.a2 {
    grid-area: a2;
    background-color: rgb(26, 211, 149);
}
.a3 {
    grid-area: a3;
    background-color: rgb(26, 211, 149);
}
.a4 {
    grid-area: a4;
    background-color: rgb(26, 211, 149);
}
.btn-next {
    grid-area: next;
    background-color: #444;
    color: aliceblue;
}

.answer {
    font-size: 2rem;
    grid-area: answer;
    color: red;
    text-align: center;
    padding: 10px;
}

/* answer result */
.correct {
    background-color: green;
    color: white;
}

.wrong {
    background-color: red;
    color: white;

}

/* next btn */
#next-btn {
    margin-left: 200px;
}

/* To hide sections not in use */
.hide {
    display: none;
}

#highscores h3 {
    font-size: 2rem;
}
#score-list {
    margin: 0 auto;
    font-size: 1.3rem;
}

@media(max-width : 900px) {
    #next-btn {
        margin-left: 100px;
    }
}

@media(max-width: 700px) {
    #quiz-grid {
        grid-template-areas: 
        'question'
        'answer-g'
        'answer'
        'next';
    }
    .answer-grid {
        grid-area: answer-g;
        display: grid;
        gap: 10px;
        grid-template-areas: 
        'a1'
        'a2'
        'a3' 
        'a4';
    }
    .answer {
        font-size: 1.2rem;
    }
}

@media(max-width: 400px) {
    #next-btn {
        margin-left: 0;
    }
    .display-3 {
        font-size: 3rem;
    }
}